<div class="py-4 row border-bottom border-primary">
  <%= link_to user_path(post.user), class: "col-3 col-md-2 d-flex flex-column align-items-center d-block" do %>
    <div class="thumb-img-wrapper">
      <%= image_tag(post.user.user_image(size: :thumb), class: "w-100 w-md-75") %>
    </div>
    <p class="mt-1"><%= post.user.user_name %></p>
  <% end %>
  <div class="col-9 col-md-10 d-flex flex-column justify-content-between">
    <div>
      <% post.tags.each do |tag| %>
        <%= link_to posts_path(tag: tag), class:"badge badge-primary mr-2" do %>
          <%= tag.name %>
        <% end %>
      <% end %>
    </div>
    <div class="font-size-xs my-1">
      カテゴリー:
      <%= link_to posts_path(category: post.category), class: "text-warning" do %>
        <%= post.category.name %>
      <% end %>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="w-75 font-size-xl m-0">
        <%= link_to post_path(post) do %>
          <%= post.title %>
        <% end %>
      </h3>
      <span id="favorite_btn_<%= post.id %>" class="ml-2">
        <%= render "shared/components/favorite_button", post: post %>
      </span>
    </div>
    <%= post.content %>
    <div class="mt-1 pt-1 d-flex justify-content-between">
      <div>
        <i class="fas fa-eye mr-1"></i><%= number_with_delimiter(post.impressionist_count) %>
      </div>
      <%= render "shared/public/sns_buttons", url: post_url(post), title: post.title %>
    </div>
  </div>
</div>
