<!DOCTYPE html>
<html>
  <head>
    <title>クズ男データベース</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'クズ男データベース' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link href="/argon/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="/argon/assets/css/argon-design-system.min.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
      <%= render "shared/public/header" %>
      <%= yield %>
      <%= render "shared/public/footer" %>
      <%= yield :scripts %>
    </div>
  </body>
</html>
