<!DOCTYPE html>
<html>
  <head>
    <title>TrashManDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link href="/argon/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="/argon/assets/css/argon-design-system.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
      <%= render "shared/public/header" %>
      <%= yield %>
      <%= render "shared/public/footer" %>
      <!-- Core -->
      <script src="/argon/assets/js/core/jquery.min.js"></script>
      <script src="/argon/assets/js/core/popper.min.js"></script>
      <script src="/argon/assets/js/core/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

      <!-- Argon JS -->
      <script src="/argon/assets/js/argon-design-system.js"></script>
    </div>
  </body>
</html>
